RewriteRule /main  /window.zul  [L]
RewriteRule ^/data/(.+)$  /data_list.zul?form_id=$1   [L]
RewriteRule /database  /database_list.zul  [L]
RewriteRule /collection  /data_collection.zul  [L]
RewriteRule ^/design/(.+)$ /data_design.zul?form_id=$1  [L]
RewriteRule ^/rule/(.+)$  /rules.zul?form_id=$1  [L]