RewriteRule /main  /window.zul  [L]
RewriteRule ^/data/(.+)$  /data_list.zul?form_id=$1   [L]
RewriteRule /database/(.+)$  /database_list.zul?group_id=$1  [L]
RewriteRule /collection/(.+)$  /data_collection.zul?group_id=$1  [L]
RewriteRule ^/design/(.+)$ /data_design.zul?form_id=$1  [L]
RewriteRule ^/rule/(.+)$  /rules.zul?form_id=$1  [L]
RewriteRule /timeout /timeout.zul [L]
RewriteRule /task  /task_list.zul  [L]
RewriteRule /admin1  /maintain_school.zul [L]
RewriteRule /group  /maintain_group.zul [L]